
#list-container {
    max-width: 400px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, Helvetica, sans-serif;
}

/* Basic styling for the list items */
.list-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    background-color: #fff;
}

/* Styling for the list items on hover */
.list-item:hover {
    background-color: #e0e0e0;
}

/* Styling for the character numbers */
.number {
    margin-right: 10px;
    font-weight: bold;
    color: #555;
}

/* Styling for the character images */
.list-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

/* Styling for the content wrapper */
.content-wrapper {
    display: flex;
    align-items: center;
}

/* Styling for the character names */
.list-item span.character-name {
    font-size: 16px;
    color: #333;
    font-family: 'Arial', sans-serif;
    margin: 0; 
}

h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background-color: #fff;
    padding: 3px;
}

#foot{
    margin-top: 10px;
}

p{
    text-align: center;
    font-size: 15px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -5px;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


